<div>
  <div *ngIf="charts.length">
    <div *ngIf="data.length">
      <h2>Charts</h2>
      <div>
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate" (dateChange)="onDateChange()">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate" (dateChange)="onDateChange()">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div *ngFor="let chartOption of chartOptions">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="chartOption"
        style="width: 100%; height: 400px; display: block;">
      </highcharts-chart>
    </div>

    <div *ngIf="!filteredData.length">
      <p>No data available for the selected date range.</p>
    </div>
  </div>

  <div *ngIf="!charts.length">
    <p>There are not any charts. Please add it on the settings page.</p>
  </div>
</div>
